# Entorno
PORT=
JWT_SECRET=

# Aca uso directamente las credenciales de testeo de la cursada
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Los datos necesarios para firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
